*.dll
*.exe
*.s3db
config.lua
src/vs/.vs
src/vs/x64*
src/vs/Release*
src/dev-cpp/obj/*
src/dev-cpp/Makefile.win
.vs
.vscode

*.log

src/.deps
src/autom4te.cache
src/aclocal.m4
src/*.o
src/*.in
src/*.log
src/*.status
src/configure
src/depcomp
src/install-sh
src/Makefile
src/missing
src/stamp-h1
src/config.h
theforgottenserver
build